<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="ru"> <![endif]-->
<!--[if IE 10 ]>    <html class="ie ie10" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="ru"><!--<![endif]-->
<head>
    <title>Мотоциклы из США. Выкуп, доставка по всей России</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/moto.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/common.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/js/fancybox/jquery.fancybox-1.3.4.css">
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/common.js"></script>
    <script type="text/javascript">
        var reviews = [
'Алексей: Заказал себе Electro glide,привезли в обозначенный срок прям в гараж.Всей суммы у меня не было и оставшуюся часть денег я заплатил когда уже подписывал птс.Мало того что дешевле чем он везде стоит,так еще и в рассрочку получилось.',
'Дмитрий: По срокам уложились. при транспортировке немного поцарапали пластик,цену скинули как и обещали. Мот уже подготовлен полностью все расходники новые. Всё понравилось спасибо!)',
'Паша: Мы с друзьями там купили квадроциклы,( 2 Stels 700H) нам их бесплатно доставили, так что всем довольны, отличный салон.',
];
    </script>
    <!--[if lt IE 9]> <script type="text/javascript" src="{{ MEDIA_URL }}/js/html5.js"></script><![endif]-->
</head>
<body>
    <div class="page">
        <header class="header clearfix">
            <img src="{{ MEDIA_URL }}/i/logo.png" alt="Мотоциклы из США. Выкуп, доставка по всей России" class="logo">
            <h1>Мотоциклы из США. Выкуп, доставка по всей России</h1>
            <p class="contacts">
                Контактные телефоны<br>
                +7 (968) 357-85-95<br>
                +7 (965) 419-88-94<br>
                <a href="#contact_form" class="btn btn-primary fancybox">Заказать звонок</a>
            </p>
        </header><!-- /Header -->

        <div class="content">
            <div class="promo clearfix">
                <div class="col-l">
                    <ul class="promo-items">
                        <li class="promo-item">Ищешь мотоцикл из&nbsp;США без пробега по&nbsp;РФ?</li>
                        <li class="promo-item">Хочешь байк, который нравится, а&nbsp;не&nbsp;тот, что продается в&nbsp;твоем городе?</li>
                        <li class="promo-item">Нет всей суммы на&nbsp;покупку мото мечты?</li>
                    </ul>
                </div>
                <div class="col-r">
                    <aside class="request">
                        <form action="{% url 'contact_form' %}" method="post">
                            <h2>Заполни форму и&nbsp;получи подарок!</h2>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="control control-submit">
                                <input type="submit" tabindex="4" value="Отправить" class="btn">
                            </div>
                        </form>
                    </aside>

                    <aside class="promo-ad">
                        <h2>Акция!</h2>
                        <p>Успей заказать до 5.05.2013 и мы подарим тебе ШЛЕМ и бутылку ВИСКИ</p>
                        <br>
                        <object type="application/x-shockwave-flash" data="http://infobusiness2.ru/files/flashtimer/cdt_main.swf" style="width: 350px; height: 200px; float: center;">
                            <param name="movie" value="http://infobusiness2.ru/files/flashtimer/cdt_main.swf" />
                            <param name="base" value="." />
                            <param name="flashvars" value="
                                  &timer=1&
                                  &time_template=3:ss;2:mm;1:hh;0:dd&
                                  &time_color=0x000000&
                                  &label_color=0x000000&
                                  &background_color=0xFFFFFF&
                                  &flare_view=true&
                                  &time_label=d:дней;h:часов;m:минут;s:секунд&
                                  &time_zone=Local time&
                                  &event_time=year:2013;month:5;day:5;hour:0;minute:0;seconds:0&
                                  &event_duration=year:0;month:0;day:0;hour:0;minute:0;seconds:0&
                                  &onpress_url=-&
                                  &event_onpress_url=-&
                                  &title=До конца акции осталось&
                                  &event_title=скидка!&
                                  &sound_file=-&
                                  &event_sound_file=-&
                                  &transparent=true&
                            " />
                            <param name="quality" value="high" />
                            <param name="wmode" value="transparent" />
                            <param name="scale" value="noscale" />
                            <param name="salign" value="lt" />
                        </object>
                    </aside>

                    <aside class="reviews">
                        <h2>Отзывы покупателей:</h2>
                        <div class="reviews-items"></div>
                    </aside>
                </div>
            </div><!-- /Promo -->

            <section class="benefits">
                <h2>Почему именно мы?</h2>
                <ul class="benefits-items">
                    <li class="benefits-item">&mdash;&nbsp;Мы&nbsp;осуществляем доставку в&nbsp;любую точку Российской Федерации;</li>
                    <li class="benefits-item">&mdash;&nbsp;У&nbsp;нас выгодные цены и&nbsp;гибкая система скидок;</li>
                    <li class="benefits-item">&mdash;&nbsp;Индивидуальный подход;</li>
                    <li class="benefits-item">&mdash;&nbsp;Эксклюзивные модели;</li>
                    <li class="benefits-item">&mdash;&nbsp;Возможна продажа оптом и&nbsp;в&nbsp;розницу;</li>
                    <li class="benefits-item">&mdash;&nbsp;Все хлопоты с&nbsp;таможенным оформлением мы&nbsp;берем на&nbsp;себя;</li>
                    <li class="benefits-item">&mdash;&nbsp;Вам не&nbsp;обязательно иметь на&nbsp;руках всю сумму&nbsp;&mdash; в&nbsp;момент сделки Вы&nbsp;вносите&nbsp;50%, оставшаяся сумма уплачивается при доставке.</li>
                </ul>
                <p><a href="#contact_form" class="btn btn-primary fancybox">Оставить заявку</a></p>
            </section>

            <section class="work">
                <h2>Как мы работаем?</h2>
                <ul class="work-items">
                    <li class="work-item work-item-1">Заявка</li>
                    <li class="work-item work-item-2">Подбор и расчет стоимости ТС</li>
                    <li class="work-item work-item-3">Предоплата 50%</li>
                    <li class="work-item work-item-4">Выкуп и доставка</li>
                    <li class="work-item work-item-5">Оплата</li>
                </ul>
            </section>

            <div class="possible">
                <p>И&nbsp;все это возможно, не&nbsp;выходя из&nbsp;дома: мы&nbsp;работаем также с&nbsp;безналичным расчетом и&nbsp;сами осуществляем доставку до&nbsp;Вас.</p>
            </div>

            <ul class="delivery-items">
                <li class="delivery-item">Бесплатная доставка до&nbsp;Вашего гаража<img src="{{ MEDIA_URL }}/i/gift.jpg"></li>
                <li class="delivery-item">100% возврат денег в&nbsp;случае нарушения сроков доставки<img src="{{ MEDIA_URL }}/i/money-back.jpg"></li>
                <li class="delivery-item">Полный бак бензина в&nbsp;подарок<img src="{{ MEDIA_URL }}/i/gift-gas.jpg"></li>
            </ul>

        </div><!-- /Content -->
    </div><!-- /Page -->

    <div class="popup">
        <div id="contact_form">
            <aside class="request" style="margin: 0px;">
                <form action="{% url 'contact_form' %}" method="post">
                    <h2>Заполни форму и&nbsp;получи подарок!</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control control-submit">
                        <input type="submit" tabindex="4" value="Отправить" class="btn">
                    </div>
                </form>
            </aside
        </div>
    </div>

</body>
</html>