{% load url from future %}
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="ru"> <![endif]-->
<!--[if IE 10 ]>    <html class="ie ie10" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="ru"><!--<![endif]-->
<head>
    <title>Автомобили из США. Выкуп, доставка по всей России.</title>
    <meta charset="utf-8">
    <link href="{{ MEDIA_URL }}/css/auto.css" rel="stylesheet">
    <link href="{{ MEDIA_URL }}/css/common.css" rel="stylesheet">
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.7.2.min.js"></script>
    <!--[if lt IE 9]> <script type="text/javascript" src="{{ MEDIA_URL }}/js/html5.js"></script><![endif]-->
</head>
<body>
    <div class="page">
        <header class="header clearfix">
            <img src="{{ MEDIA_URL }}/i/logo.png" alt="Автомобили из США. Выкуп, доставка по всей России." class="logo">
            <h1>Автомобили из США. Выкуп, доставка по всей России.</h1>
            <p class="contacts">
                Контактные телефоны<br>
                +7 (968) 357-85-95<br>
                +7 (965) 419-88-94<br>
                <a href="" class="btn btn-primary">Заказать звонок</a>
            </p>
        </header><!-- /Header -->

        <div class="content">
            <div class="promo clearfix">
                <div class="col-l">
                    <ul class="promo-items">
                        <li class="promo-item">Ищешь автомобиль из&nbsp;США без пробега по&nbsp;РФ?</li>
                        <li class="promo-item">Хочешь машину, которая нравится, а&nbsp;не&nbsp;ту, которая продается в&nbsp;твоем городе?</li>
                        <li class="promo-item">Нет всей суммы на&nbsp;покупку машины&nbsp;мечты?</li>
                    </ul>
                </div>
                <div class="col-r">
                    <aside class="request">
                        <form action="{% url 'contact_form' %}" method="post">
                            <h2>Заполни форму и&nbsp;получи подарок!</h2>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="control"></div>
                            <div class="control control-submit">
                                <input type="submit" tabindex="4" value="Отправить" class="btn">
                            </div>
                        </form>
                    </aside>

                    <aside class="promo-ad">
                        <h2>Акция!</h2>
                        <p>Бутылка виски в&nbsp;подарок!</p>
                    </aside>

                    <aside class="reviews">
                        <h2>Отзывы покупателей:</h2>
                        <div class="reviews-items"></div>
                    </aside>
                </div>
            </div><!-- /Promo -->

            <section class="benefits">
                <h2>Почему именно мы?</h2>
                <ul class="benefits-items">
                    <li class="benefits-item">&mdash;&nbsp;Мы&nbsp;осуществляем доставку в&nbsp;любую точку Российский Федерации;</li>
                    <li class="benefits-item">&mdash;&nbsp;У&nbsp;нас выгодные цены и&nbsp;гибкая система скидок;</li>
                    <li class="benefits-item">&mdash;&nbsp;Индивидуальный подход;</li>
                    <li class="benefits-item">&mdash;&nbsp;Эксклюзивные модели;</li>
                    <li class="benefits-item">&mdash;&nbsp;Возможна продажа оптом и&nbsp;в&nbsp;розницу;</li>
                    <li class="benefits-item">&mdash;&nbsp;Все хлопоты с&nbsp;таможенным оформлением мы&nbsp;берем на&nbsp;себя;</li>
                    <li class="benefits-item">&mdash;&nbsp;Вам не&nbsp;обязательно иметь на&nbsp;руках всю сумму&nbsp;&mdash; в&nbsp;момент сделки Вы&nbsp;вносите&nbsp;50%, оставшаяся сумма уплачивается при доставке.</li>
                </ul>
                <p><a href="" class="btn btn-primary">Оставить заявку</a></p>
            </section>

            <section class="work">
                <h2>Как мы работаем?</h2>
                <ul class="work-items">
                    <li class="work-item work-item-1">Заявка</li>
                    <li class="work-item work-item-2">Подбор и расчет стоимости ТС</li>
                    <li class="work-item work-item-3">Предоплата 50%</li>
                    <li class="work-item work-item-4">Выкуп и доставка</li>
                    <li class="work-item work-item-5">Оплата</li>
                </ul>
            </section>

            <div class="possible">
                <p>И&nbsp;все это возможно, не&nbsp;выходя из&nbsp;дома: мы&nbsp;работаем также с&nbsp;безналичным расчетом и&nbsp;сами осуществляем доставку до&nbsp;Вас.</p>
            </div>

            <ul class="delivery-items">
                <li class="delivery-item">Бесплатная доставка до&nbsp;Вашего гаража<img src="{{ MEDIA_URL }}/i/gift.jpg"></li>
                <li class="delivery-item">100% возврат денег в&nbsp;случае нарушения сроков доставки<img src="{{ MEDIA_URL }}/i/money-back.jpg"></li>
                <li class="delivery-item">Полный бак бензина в&nbsp;подарок<img src="{{ MEDIA_URL }}/i/gift-gas.jpg"></li>
            </ul>

        </div><!-- /Content -->
    </div><!-- /Page -->
</body>
</html>