{% load url from future %}
<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="ru"> <![endif]-->
<!--[if IE 10 ]>    <html class="ie ie10" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="ru"><!--<![endif]-->
<head>
    <title>Услуги профессиональных стилистов-визажистов на дому. Москва и Московская область</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/beauty.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/css/common.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/js/fancybox/jquery.fancybox-1.3.4.css">
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/js/common.js"></script>
    <script type="text/javascript">
        var reviews = [
'Мария 21/03/2013, Обратилась за помощью перед неожиданными переговорами. И правда, очень оперативно – специалист приехал уже через полтора часа после заказа. Работа очень качественная, девушка просто молодец! Укладка и макияж аккуратные и стильные, я довольна.',
'Светлана Сергеевна 03/04/2013, Пригласили дочке на свадьбу сразу всех мастеров. Очень довольны! А визажистка еще и подружек всех накрасила, и меня! Будем советовать всем друзьям! Большое Вам спасибо!',
'Ксюша 13/04/2013, Приехала веселая, жизнерадостная девушка, сделала очень классную укладку, мы с ней поболтали, настроение мое улучшилось, и я поехала в клуб, где познакомилась с классным парнем, потому что выглядела на все сто!Жалко, каждый день так нельзя – дороговато выйдет :)',
];
    </script>
    <!--[if lt IE 9]> <script type="text/javascript" src="{{ MEDIA_URL }}/js/html5.js"></script><![endif]-->
</head>
<body>
    <div class="page">
        <header class="header clearfix">
            <p class="contacts">
                Контактный телефон<br>
                +7 (965) 419-88-94
                <a href="#contact_form" class="btn btn-primary fancybox">Заказать звонок</a>
            </p>
            <h1>Услуги профессиональных стилистов-визажистов на дому</h1>
            <p>Москва и Московская область</p>
        </header><!-- /Header -->

        <div class="content">
            <div class="clearfix">
                <div class="col-l">
                    <div class="promo">
                        <span class="clr">Нет времени</span> на салон красоты?<br>
                        У тебя скоро <span class="clr">свадьба?</span><br>
                        <span class="clr">ОН</span> неожиданно пригласил на свидание?<br>
                        Или сегодня <span class="clr">важная</span> деловая встреча?<br>
                        А может быть, просто <span class="clr">не хочется</span> выходить из дома?
                    </div>
                    <h2 class="special">Наши специалисты приедут в назначенное время в удобное для Вас место и удовлетворят любой Ваш каприз:</h2>
                    <ul class="work">
                        <li>макияж<img src="{{ MEDIA_URL }}/i/t1.jpg" alt=""></li>
                        <li>прическа<img src="{{ MEDIA_URL }}/i/t2.jpg" alt=""></li>
                        <li>маникюр<img src="{{ MEDIA_URL }}/i/t3.jpg" alt=""></li>
                        <li>педикюр<img src="{{ MEDIA_URL }}/i/t4.jpg" alt=""></li>
                    </ul>
                    <h3 class="possible">Мы можем сопровождать Вас и поддерживать Вашу красоту в течение всего дня или ночи.</h3>
                    <p><a href="#contact_form" class="btn-request fancybox">Оставить заявку</a></p>

                    <div class="rules">
                        <h2>Наши <span class="clr">золотые</span> правила:</h2>
                        <ul>
                            <li>Клиент <br>всегда прав<img src="{{ MEDIA_URL }}/i/r1.jpg" alt=""></li>
                            <li><span class="clr">Пунктуальность</span><img src="{{ MEDIA_URL }}/i/r2.jpg" alt=""></li>
                            <li>Подарки <br>всем клиентам<img src="{{ MEDIA_URL }}/i/r3.jpg" alt=""></li>
                            <li><span class="clr">Гарантия <br>качества</span><img src="{{ MEDIA_URL }}/i/r4.jpg" alt=""></li>

                        </ul>
                    </div>
                </div>
                <div class="col-r">
                    <aside class="request">
                        <form action="{% url 'contact_form' %}" method="post">
                            <h2>Оставить заявку</h2>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="control control-submit">
                                <input type="submit" tabindex="5" value="Отправить" class="btn-send">
                            </div>
                        </form>
                    </aside>

                    <aside class="reviews">
                        <h2>Отзывы наших клиентов:</h2>
                        <div class="reviews-items">
                            <div class="reviews-item"></div>
                        </div>
                    </aside>

                    <aside class="sale">
                        <h2>Акция!</h2>
                        <p>Фотосессия в подарок при заказе <span class="clr">до 5 мая!</span></p>
                        <br>
                        <object type="application/x-shockwave-flash" data="http://infobusiness2.ru/files/flashtimer/cdt_main.swf" style="width: 280px; height: 200px; float: center;">
                            <param name="movie" value="http://infobusiness2.ru/files/flashtimer/cdt_main.swf" />
                            <param name="base" value="." />
                            <param name="flashvars" value="
                                  &timer=1&
                                  &time_template=3:ss;2:mm;1:hh;0:dd&
                                  &time_color=0x000000&
                                  &label_color=0x000000&
                                  &background_color=0xFFFFFF&
                                  &flare_view=true&
                                  &time_label=d:дней;h:часов;m:минут;s:секунд&
                                  &time_zone=Local time&
                                  &event_time=year:2013;month:5;day:5;hour:0;minute:0;seconds:0&
                                  &event_duration=year:0;month:0;day:0;hour:0;minute:0;seconds:0&
                                  &onpress_url=-&
                                  &event_onpress_url=-&
                                  &title=До конца акции осталось&
                                  &event_title=скидка!&
                                  &sound_file=-&
                                  &event_sound_file=-&
                                  &transparent=true&
                            " />
                            <param name="quality" value="high" />
                            <param name="wmode" value="transparent" />
                            <param name="scale" value="noscale" />
                            <param name="salign" value="lt" />
                        </object>
                    </aside>
                </div>
            </div>

        </div><!-- /Content -->
    </div><!-- /Page -->

    <div class="popup">
        <div id="contact_form">
            <aside class="request" style="margin: 0px;">
                <form action="{% url 'contact_form' %}" method="post">
                    <h2>Заполни форму и&nbsp;получи подарок!</h2>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control control-submit">
                        <input type="submit" tabindex="5" value="Отправить" class="btn-send">
                    </div>
                </form>
            </aside
        </div>
    </div>

</body>
</html>